@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');

/* font glyphicons */
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body{
	background-color:#F5F7FA!important;
}


.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.glyphicon-ok:before {
	content: "\e013";
}
.glyphicon-ok-sign:before {
	content: "\e084";
}
.glyphicon-ok-circle:before {
	content: "\e089";
}
.glyphicon-remove:before {
	content: "\e014";
}
.glyphicon-remove-sign:before {
	content: "\e083";
}
.glyphicon-remove-circle:before {
	content: "\e088";
}
.glyphicon-refresh:before {
	content: "\e031";
}

/* disabled */
.disabled {
	cursor: not-allowed !important;
}

.has-feedback {
	position: relative;
}
.has-feedback .form-control {
	padding-right: 42.5px;
}

.form-group-lg .form-control + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.input-lg + .form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px;
}
.form-group-sm .form-control + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.input-sm + .form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
	color: #3c763d;
}
.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d;
}
.has-success .form-control-feedback {
	color: #3c763d;
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
	color: #8a6d3b;
}
.has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
	color: #8a6d3b;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
	color: #f86c6b;
}
.has-error .form-control {
	border-color: #f86c6b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}
.has-error .form-control-feedback {
	color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
	top: 28px;
}
.row label ~ .form-control-feedback {
	top: 28px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
	top: 0;
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}
@media (min-width: 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.form-inline .form-control-static {
		display: inline-block;
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}
	.form-inline .input-group .form-control,
	.form-inline .input-group .input-group-addon,
	.form-inline .input-group .input-group-btn {
		width: auto;
	}
	.form-inline .input-group > .form-control {
		width: 100%;
	}
	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .checkbox,
	.form-inline .radio {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .checkbox label,
	.form-inline .radio label {
		padding-left: 0;
	}
	.form-inline .checkbox input[type="checkbox"],
	.form-inline .radio input[type="radio"] {
		position: relative;
		margin-left: 0;
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0;
	}
}
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0;
}
.form-horizontal .checkbox,
.form-horizontal .radio {
	min-height: 27px;
}
.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 768px) {
	.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right;
	}
}

.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none;
}
.form-group-lg .form-control + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.input-lg + .form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px;
}
.form-group-sm .form-control + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.input-sm + .form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px;
}

a {
	text-decoration: none;
}

.main-wrap {
	background: #000;
	text-align: center;
}
.main-wrap h1 {
	color: #fff;
	margin-top: 50px;
	margin-bottom: 100px;
}
.col-md-3 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	background-color: #eee;
	padding: 50px 0;
}

.col:first-of-type {
	margin-left: 0;
}

/* ALL LOADERS */

.loader {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
}

/* LOADER 1 */

#loader-1:before,
#loader-1:after {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 10px solid transparent;
	border-top-color: #3498db;
}

#loader-1:before {
	z-index: 100;
	animation: spin 1s infinite;
}

#loader-1:after {
	border: 10px solid #ccc;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* LOADER 2 */

#loader-2 span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #3498db;
	margin: 35px 5px;
}

#loader-2 span:nth-child(1) {
	animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
	animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
	animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
	0%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	25% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

/* LOADER 3 */

#loader-3:before,
#loader-3:after {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: calc(50% - 10px);
	background-color: #3498db;
	animation: squaremove 1s ease-in-out infinite;
}

#loader-3:after {
	bottom: 0;
	animation-delay: 0.5s;
}

@keyframes squaremove {
	0%,
	100% {
		-webkit-transform: translate(0, 0) rotate(0);
		-ms-transform: translate(0, 0) rotate(0);
		-o-transform: translate(0, 0) rotate(0);
		transform: translate(0, 0) rotate(0);
	}

	25% {
		-webkit-transform: translate(40px, 40px) rotate(45deg);
		-ms-transform: translate(40px, 40px) rotate(45deg);
		-o-transform: translate(40px, 40px) rotate(45deg);
		transform: translate(40px, 40px) rotate(45deg);
	}

	50% {
		-webkit-transform: translate(0px, 80px) rotate(0deg);
		-ms-transform: translate(0px, 80px) rotate(0deg);
		-o-transform: translate(0px, 80px) rotate(0deg);
		transform: translate(0px, 80px) rotate(0deg);
	}

	75% {
		-webkit-transform: translate(-40px, 40px) rotate(45deg);
		-ms-transform: translate(-40px, 40px) rotate(45deg);
		-o-transform: translate(-40px, 40px) rotate(45deg);
		transform: translate(-40px, 40px) rotate(45deg);
	}
}

/* LOADER 4 */

#loader-4 span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #3498db;
	margin: 35px 5px;
	opacity: 0;
}

#loader-4 span:nth-child(1) {
	animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2) {
	animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3) {
	animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
	0%,
	100% {
		opacity: 0;
	}

	60% {
		opacity: 1;
	}
}

/* LOADER 5 */

#loader-5 span {
	display: block;
	position: absolute;
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	width: 20px;
	height: 20px;
	background-color: #3498db;
}

#loader-5 span:nth-child(2) {
	animation: moveanimation1 1s ease-in-out infinite;
}

#loader-5 span:nth-child(3) {
	animation: moveanimation2 1s ease-in-out infinite;
}

#loader-5 span:nth-child(4) {
	animation: moveanimation3 1s ease-in-out infinite;
}

@keyframes moveanimation1 {
	0%,
	100% {
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	75% {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);
	}
}

@keyframes moveanimation2 {
	0%,
	100% {
		-webkit-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	75% {
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		-o-transform: translateY(30px);
		transform: translateY(30px);
	}
}

@keyframes moveanimation3 {
	0%,
	100% {
		-webkit-transform: translate(0px, 0px);
		-ms-transform: translate(0px, 0px);
		-o-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}

	75% {
		-webkit-transform: translate(30px, 30px);
		-ms-transform: translate(30px, 30px);
		-o-transform: translate(30px, 30px);
		transform: translate(30px, 30px);
	}
}

/* LOADER 6 */

#loader-6 {
	top: 40px;
	left: -2.5px;
}

#loader-6 span {
	display: inline-block;
	width: 5px;
	height: 20px;
	background-color: #3498db;
}

#loader-6 span:nth-child(1) {
	animation: grow 1s ease-in-out infinite;
}

#loader-6 span:nth-child(2) {
	animation: grow 1s ease-in-out 0.15s infinite;
}

#loader-6 span:nth-child(3) {
	animation: grow 1s ease-in-out 0.3s infinite;
}

#loader-6 span:nth-child(4) {
	animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow {
	0%,
	100% {
		-webkit-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
	}

	50% {
		-webkit-transform: scaleY(1.8);
		-ms-transform: scaleY(1.8);
		-o-transform: scaleY(1.8);
		transform: scaleY(1.8);
	}
}

/* LOADER 7 */

#loader-7 {
	-webkit-perspective: 120px;
	-moz-perspective: 120px;
	-ms-perspective: 120px;
	perspective: 120px;
}

#loader-7:before {
	content: "";
	position: absolute;
	left: 25px;
	top: 25px;
	width: 50px;
	height: 50px;
	background-color: #3498db;
	animation: flip 1s infinite;
}

@keyframes flip {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(180deg) rotateX(180deg);
	}
}

/* LOADER 8 */

#loader-8:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: calc(50% - 10px);
	left: 0px;
	background-color: #3498db;
	animation: rotatemove 1s infinite;
}

@keyframes rotatemove {
	0% {
		-webkit-transform: scale(1) translateX(0px);
		-ms-transform: scale(1) translateX(0px);
		-o-transform: scale(1) translateX(0px);
		transform: scale(1) translateX(0px);
	}

	100% {
		-webkit-transform: scale(2) translateX(45px);
		-ms-transform: scale(2) translateX(45px);
		-o-transform: scale(2) translateX(45px);
		transform: scale(2) translateX(45px);
	}
}

/* datatables
  ------------------------------- */
div.dataTables_wrapper div.dataTables_processing {
	background-color: transparent;
	border: none;
}

/* Autocomplete
----------------------------------*/
.ui-autocomplete {
	max-height: 200px;
	max-width: 600px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}

ul.bs-autocomplete-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 200px;
	overflow: auto;
	z-index: 9999;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
	font-weight: normal;
	color: #333333;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-state-active,
.ui-state-focus {
	color: #23527c;
	background-color: #eeeeee;
}

.bs-autocomplete-feedback {
	width: 1.5em;
	height: 1.5em;
	overflow: hidden;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

.loader {
	font-size: 10px;
	text-indent: -9999em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #333;
	background: -moz-linear-gradient(
		left,
		#333333 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: -webkit-linear-gradient(
		left,
		#333333 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: -o-linear-gradient(left, #333333 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(
		left,
		#333333 10%,
		rgba(255, 255, 255, 0) 42%
	);
	background: linear-gradient(
		to right,
		#333333 10%,
		rgba(255, 255, 255, 0) 42%
	);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.loader:before {
	width: 50%;
	height: 50%;
	background: #333;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}

.loader:after {
	background: #fff;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: "";
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.link-login:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media only screen and (min-width: 993px) {
	#regis {
		display: none;
	}
}

/* pace custom */
.pace .pace-progress {
	background: #de0f17 !important;
}

/* foto bulat */
.bulat {
	border-radius: 50%;
	border: 3px solid #fff;
	width: 230px;
	height: 230px;
	object-fit: cover;
}

/* image input  */
.img-input {
	height: 200px;
	width: 200px;
	margin: 10px;
}

/* button */
.badge-primary{
	background-color: #2529d8!important;
}

.btn{
	border-radius: 0px!important;
}

.btn-warning{
	color: #fff!important;
}
	
/* breadcrumb */
.breadcrumb{
	color: #73818f!important;
}

.breadcrumb-item.active{
	color: #0D2394!important;
	font-weight: 600;
}

/* sidebar */
.sidebar .nav-link.active {
    color: #fff!important;
    background: #625FFF!important;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
	width: 80px;
	padding-top: 13px;
}

.info-box .icon svg {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}

.info-box .content {
    display: inline-block;
    padding: 7px 10px;
}

.info-box .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555;
}

.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}

.block-header {
    margin-bottom: 15px;
}

.block-header h2 {
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 16px;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #fff !important;
}

.col-teal {
    color: #009688 !important;
}

.col-red {
    color: #F44336 !important;
}

.col-orange {
    color: #FF9800 !important;
}

.col-green{
	color: #4dbd74 !important;
}

.btn:not(.btn-link):not(.btn-circle) {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.12);
    border: none;
    font-size: 13px;
    outline: none;
}


@media (min-width: 768px) {
  .modal-dialog {
    width: 980px;
  }
}
.owl-nav a {
  position: absolute;
  top: 35;
  left: 0;
  right: auto;
  padding: 30px;
  float: left;
  font-size: 3em;
  cursor: pointer;
  z-index: 1;
}
.owl-nav a.next {
  left: auto;
  right: 0;
}
@media (min-width: 320px) {
  .owl-nav a {
    top: 61%;
  }
}
@media (min-width: 480px) {
  .owl-nav a {
    top: 25%;
  }
}
@media (min-width: 768px) {
  .owl-nav a {
    top: 64%;
  }
}
@media (min-width: 992px) {
  .owl-nav a {
    top: 64%;
  }
}

#sync1 .item {
  background: #0c83e7;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#sync2 .owl-item .item {
  background: #333;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .owl-item .item img {
  opacity: 0.5;
}
#sync2 .owl-item.synced .item img {
  opacity: 1;
}

.modal.in .modal-dialog {
  border-radius: 0px;
}
.modal.in .modal-dialog .modal-content {
  border-radius: 0px;
}
.modal.in .modal-dialog .modal-content .modal-header {
  border-radius: 0px;
  text-align: center;
}

.form-rendered #build-wrap {
  display: none;
}

.render-wrap {
  display: none;
}

.form-rendered .render-wrap {
  display: block;
}

#edit-form {
  display: none;
  text-align: right;
}

#card-edit-form{
	display: none;
}

#card-edit-form button{
	text-align: right;
}

.form-rendered #edit-form {
  display: block;
}

.page-separator {
    position: relative;
    color: #868e96;
    display: flex;
    align-items: center;
    justify-content: start;
    z-index: 0;
    margin-bottom: 1rem;
}

.page-separator:before {
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,.1);
    left: 0;
}

.page-separator__text {
    display: inline-flex;
    max-width: 90%;
    text-transform: uppercase;
    font-size: .9375rem;
    color: #303956;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Exo\ 2,Helvetica Neue,Arial,sans-serif;
    border-radius: .25rem;
    background-color: #F5F7FA;
    padding-right: .5rem;
}

.text-decoration-none{
	text-decoration: none!important;
}

#is_payed_form{
	display: none;
}

.paslon:hover{
	border-color: #20a8d8!important;
	animation-duration: .2s;
}

.bulat{
    border-radius:50%;
    border: 3px solid #fff;
    width:230px;
    height:230px;
    object-fit: cover;
	box-shadow: 1px 29px 61px 0px rgba(138,149,158,0.49);
}

.file-upload input:hover{
	cursor: pointer!important;
}

.file-upload{
	height: 200px;
	width: 200px;
	margin:40px auto;
	border:1px solid #f0c0d0;
	border-radius:100px;
	overflow:hidden;
	position:relative;
}
.file-upload input{
	position:absolute;
	height:400px;
	width:400px;
	left:-200px;
	top:-200px;
	background:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);  
}
.file-upload img{
	height: 100%;
	width: 100%;
}

.sidebar {
    background: #D3DAFF!important;
}


.sidebar .nav .nav-link {
    color: #000000;
}

.sidebar .nav-link.active nav-icon {
    color: black!important;
}


.bg-young-purple {
    background-color: #625FFF !important;
    color: #fff;
}

/* Login and Register */
.login-form,
.register-form {
  position: absolute;
  border-radius: 20px;
  box-shadow: -1px 0px 23px -1px rgb(0 0 0 / 31%);
  -webkit-box-shadow: -1px 0px 23px -1px rgb(0 0 0 / 31%);
  -moz-box-shadow: -1px 0px 23px -1px rgb(0 0 0 / 31%);
}
.box {
  background: #1c42ca;
  border-radius: 20px;
  box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 7px 5px 36px 5px rgba(0, 0, 0, 0.31);
}


#form-login .card .card-body, #form-forgot-password .card .card-body{
    box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
    -webkit-box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
    -moz-box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
}

#form-login .card, #form-forgot-password .card {
    border-radius: 15px;
    border: none!important;
}

.btn-primary {
    color: #fff!important;
    background-color: #0048D9!important;
    border-color: #0048D9!important;
}


.sidebar .nav-link:hover {
    background: #625FFF!important;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff!important;
}


.card.card-tambah {
    border: none;
    background-color: #D3DAFF;
    padding: 20px;
	box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
    -webkit-box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
    -moz-box-shadow: 0px 0px 36px -15px rgb(0 0 0 / 31%);
}

.card.card-tambah label{
	color: #6F7482;
    font-weight: 700;
}
